<div class="w-[200px] bg-[#000000] h-[500px] ml-8  mt-28 rounded-lg border-2 border-yellow">
    <h2 class="text-3xl font-bold ml-8 text-orange-400 mt-4">LapMart</h2>
    <ul class="mt-8 space-y-4 ml-8">
        <li><a href="#" class="flex items-center text-white font-bold hover:text-white">
            <span class="material-icons">dashboard</span>  
            <span class="ml-4">Dashboard</span>
        </a></li>
        <li><a href="/admin/products" class="flex items-center text-white font-bold hover:text-white">
            <span class="material-icons">inventory_2</span>  
            <span class="ml-4">Products</span>
        </a></li>
        <li><a href="/admin/customers" class="flex items-center text-white font-bold  hover:text-white">
            <span class="material-icons">people</span>  
            <span class="ml-4">Customers</span>
        </a></li>
        <li><a href="/admin/orders" class="flex items-center text-white font-bold hover:text-white">
            <span class="material-icons">shopping_cart</span>  
            <span class="ml-4">Orders</span>ṭ
        </a></li>
        <li><a href="/admin/coupons" class="flex items-center text-white font-bold  hover:text-white">
            <span class="material-icons">local_offer</span>  
            <span class="ml-4">Coupons</span>
        </a></li>
        <li><a href="/admin/categoryList" class="flex items-center text-white font-bold  hover:text-white">
            <span class="material-icons">category</span>  
            <span class="ml-4">Category</span>
        </a></li>
        <li><a href="/admin/offers" class="flex items-center text-white font-bold  hover:text-white">
            <span class="material-icons">discount</span>  
            <span class="ml-4">Discounts</span>
        </a></li>
        <li><a href="#" class="flex items-center text-white font-bold  hover:text-white">
            <span class="material-icons">image</span>  
            <span class="ml-4">Banner</span>
        </a></li>
        <li><a href="/admin/salesReport" class="flex items-center text-white font-bold  hover:text-white">
            <span class="material-icons">bar_chart</span>  
            <span class="ml-4">Sales Report</span>
        </a></li>
        <li><a href="/admin/logout" class="flex items-center text-white font-bold  hover:text-white">
            <span class="material-icons">logout</span>  
            <span class="ml-4">Logout</span>
        </a></li>
    </ul>
  </div>
