<div class="flex-1 p-6">
  <!-- Admin Login Icon -->
  <div class="flex justify-end mb-4">
    <span class="flex items-center">
      <span class="material-icons text-orange-400">person</span>
      <span class="ml-2">Admin</span>
    </span>
  </div>
</div>
<!-- samaple change made -->
