<footer class="bg-gray-900 text-white py-8">
  <div class="container mx-auto text-center">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
          <div>
              <h4 class="font-bold text-lg">Support</h4>
              <ul class="mt-4 space-y-2">
                  <li><a href="#" class="hover:underline">Samsung Support</a></li>
                  <li><a href="#" class="hover:underline">Acer Support</a></li>
                  <li><a href="#" class="hover:underline">HP Support</a></li>
              </ul>
          </div>
          <div>
              <h4 class="font-bold text-lg">About Us</h4>
              <ul class="mt-4 space-y-2">
                  <li><a href="#" class="hover:underline">Privacy Policy</a></li>
                  <li><a href="#" class="hover:underline">Cookie Settings</a></li>
              </ul>
          </div>
          <div>
              <h4 class="font-bold text-lg">Brand</h4>
              <ul class="mt-4 space-y-2">
                  <li><a href="#" class="hover:underline">Samsung</a></li>
                  <li><a href="#" class="hover:underline">Lenovo</a></li>
                  <li><a href="#" class="hover:underline">Acer</a></li>
              </ul>
          </div>
          <div>
              <h4 class="font-bold text-lg">Follow Us</h4>
              <div class="mt-4 flex justify-center space-x-4">
                  <a href="#"><img src="/icons8-facebook-48.png" class="w-5 h-5"></a>
                  <a href="#"><img src="/icons8-x-100.png" class="w-5 h-5"></a>
                  <a href="#"><img src="/icons8-instagram-50.png" class="w-5 h-5"></a>
              </div>
          </div>
      </div>
      <p class="mt-8">&copy; 2024 LapMart. All Rights Reserved.</p>
  </div>
</footer>
